button{
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 5px;
    background: #3b82f6;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#cancel-btn{
    border: 2px solid black;
    background: none;
    color: black;
}
